body {
	background: url("/media/about-background.png");
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: fixed;
    margin-left: 88%;
    margin-top: 10%;
}

.amber {
	width: 30%;
	height: auto;
	border-radius: 20px;
	margin: 12% auto auto 12%;
}

.about {
	width: 40%;
	position: absolute;
	right: 15%;
	top: 40%;
}

h2 {
	font-size: 3rem;
	padding-bottom: 2rem;
}

p {
	font-size: 2rem;
}
